@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body,
#root {
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  /* height: 100vh; */
  width: 100vw;
  flex-direction: column;
}

nav {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 0.1rem solid #ececec;
  height: 6.4rem;
  width: 100%;
  z-index: 1;
}

nav button {
  background-color: #fff;
  border: none;
  color: #333;
  height: 100%;
  font-size: 2rem;
  padding: 1rem;
}

nav button:hover {
  background-color: #ececec;

  color: #333;
}

main {
  flex-direction: column;
  margin-top: 10rem;
  width: 90vw;
}

.topOfMain {
  width: 90%;
  justify-content: space-between;
}

.filterContainer h3 {
  margin-right: 3rem;
}

.dropDown {
  height: 4rem;
}

.list {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.listItem {
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 0.1rem solid #333;
  margin: 3rem;
  padding: 2rem;
  height: 16rem;
  width: 22rem;
}

.listItemDetails {
  justify-content: space-between;
  margin-top: 1rem;
}

.blueButton {
  background-color: navy;
  color: #fff;
  border: none;
  padding: 1rem;

  cursor: pointer;
}

.listItemButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  background-color: navy;
  color: #fff;
  border: none;
  padding: 1rem;

  cursor: pointer;
}

.listItemButton:hover {
  background-color: #2f2feb;
}

.createProductForm {
  border: 0.1rem solid #333;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
  padding: 5rem;
  margin: 5rem;
  height: 50vh;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
}

.formInputContainer label {
  font-size: 2rem;
  margin-right: 2rem;
}

.createProductForm button {
  font-size: 1.8rem;
  padding: 1.8rem;
}
